/.DS_Store
src/.DS_Store
src/c02-01-MyFirstDagger/.idea/misc.xml
src/c02-01-MyFirstDagger/.idea/workspace.xml
src/c2-1-HelloDagger/.idea/compiler.xml
src/c2-1-HelloDagger/.idea/gradle.xml
src/c2-1-HelloDagger/.idea/misc.xml
src/c2-1-HelloDagger/.idea/vcs.xml
src/c2-1-HelloDagger/.idea/.gitignore
src/c2-1-HelloDagger/.idea/.name
src/c5-1-reflection/.idea/misc.xml
src/c5-1-reflection/.idea/modules.xml
src/c5-1-reflection/.idea/runConfigurations.xml
src/c5-1-reflection/.idea/vcs.xml
src/c5-1-reflection/.idea/.gitignore
src/c5-1-reflection/.idea/libraries/KotlinJavaRuntime.xml
src/c5-1-reflection/.idea/codeStyles/codeStyleConfig.xml
src/c5-1-reflection/out/production/c5-1-reflection/META-INF/c5-1-reflection.kotlin_module
src/c5-1-reflection/.idea/codeStyles/Project.xml
*.class